/* body:not(.is-popout-window) div.side-dock-actions:before {
    content: "\2723";
    font-size: 30px;
    -webkit-app-region: drag;
    text-align: center;
    margin-left: 1px;
} */

.workspace-ribbon {
    -webkit-app-region: drag;
}